.fondo-7{
    padding: 0;
    background-color: var(--gray);
    height: 961px;
    max-width: 100%;
    position:relative;
}
.content-7{
    position: absolute; 
    top: 260px;
    left: 85px;
    display: flex;
}
.content-text7{
    padding-right: 250px;
    padding-left: 100px;
}
.letras7{
    flex-direction: column;
}
.letras7 h1{
    font-family: var(--MSB);
    font-size: 35px;    
    color: var(--white);
    letter-spacing:2px;
    font-weight: 600;
}
.letras7 h1::selection{
    color:var(--gray);
    background:var(--yellow);
}
.parraf7{
    letter-spacing:1px;
    margin-top: 50px;
    margin-bottom: 60px;
    font-family: var(--MSB);
    font-size: var(--mb);    
    color: var(--white);
}
.parraf7 p::selection{
    color:var(--gray);
    background:var(--yellow);
}
.logos-redes img{
    margin-right: 20px;
}
.logos-redes img:hover{
    cursor: pointer;
    background-color: var(--yellow);
    border:5px solid var(--yellow);
    transition: all 2s ease ;
    width: 50px;
    height: 50px; 
    border-radius: 100%;
    margin: 1 3 2;
}
.logos-redes img::selection{
    background: var(--yellow);
}
.items7{
    display: flex;
}
.items7 tr:nth-child(1){
    font-size: 35px;
}
.items7 tr:nth-child(1) td a:hover{
    transition: all 1s;
    font-size: 40px;
    color: var(--gray);
    background: var(--yellow);
    border-radius: 10px;
    font-weight: 700;
}
tr:nth-child(2), tr:nth-child(3), tr:nth-child(4), tr:nth-child(5), tr:nth-child(6){
    font-size: 25px;
}
tr:nth-child(2) td a:hover, tr:nth-child(3) td a:hover, tr:nth-child(4) td a:hover, tr:nth-child(5) td a:hover, tr:nth-child(6) td a:hover{
    transition: all 1s;
    font-size: 30px;
    color: var(--gray);
    background: var(--yellow);
    border-radius: 10px;
    font-weight: 600;
}
.items7 td a{
    text-decoration: none;
    color: var(--white);
    font-family: var(--MSB);
    font-weight: 400;
    margin-right: 50px;
}
.items7 td a::selection{
    color: var(--gray);
    background: var(--yellow);
}
@media screen and (min-width: 1350px) AND (max-width:1730px){ 
    .fondo-7{
        height: 787px;
    }
    .content-7{
        top: 200px;
        left: 80px;
    }
    .content-text7{
        padding-right: 100px;
        padding-left:50px;
    }
    .letras7 h1{
        font-size: 30px;    
    }
    .items7 tr:nth-child(1){
        font-size: 30px;
    }
    .items7 tr:nth-child(1) td a:hover{
        transition: all 1s;
        font-size: 35px;
        color: var(--gray);
        background: var(--yellow);
        border-radius: 10px;
        font-weight: 700;
    }
    tr:nth-child(2), tr:nth-child(3), tr:nth-child(4), tr:nth-child(5), tr:nth-child(6){
        font-size: 20px;
    }
    tr:nth-child(2) td a:hover, tr:nth-child(3) td a:hover, tr:nth-child(4) td a:hover, tr:nth-child(5) td a:hover, tr:nth-child(6) td a:hover{
        transition: all 1s;
        font-size: 25px;
        color: var(--gray);
        background: var(--yellow);
        border-radius: 10px;
        font-weight: 600;
    }
}
@media screen and (min-width: 1080px) AND (max-width:1349px){
    .fondo-7{
        height: 787px;
    }
    .content-7{
        top: 100px;
        left: 50px;
    }
    .content-text7{
        padding-right: 80px;
        padding-left: 40px;
    }
    .parraf7 p{
        font-size: 15px;
        line-height: 30px;
    }
    .letras7 h1{
        font-size: 25px;    
    }
    .items7 tr:nth-child(1){
        font-size: 25px;
    }
    .items7 tr:nth-child(1) td a:hover{
        transition: all 1s;
        font-size: 25px;
        color: var(--gray);
        background: var(--yellow);
        border-radius: 10px;
        font-weight: 700;
    }
    tr:nth-child(2), tr:nth-child(3), tr:nth-child(4), tr:nth-child(5), tr:nth-child(6){
        font-size: 15px;
    }
    tr:nth-child(2) td a:hover, tr:nth-child(3) td a:hover, tr:nth-child(4) td a:hover, tr:nth-child(5) td a:hover, tr:nth-child(6) td a:hover{
        transition: all 1s;
        font-size: 20px;
        color: var(--gray);
        background: var(--yellow);
        border-radius: 10px;
        font-weight: 600;
    }
} 
@media screen and (min-width: 690px) AND (max-width:1079px){
    .fondo-7{
        height: 787px;
    }
    .content-7{
        top: 90px;
        left: 50px;
        padding-right: 0;
        padding-left: 0;
    }
    .content-text7{
        padding-right: 80px;
        padding-left: 40px;
    }
    .parraf7 p{
        font-size: 15px;
        line-height: 30px;
    }
    .letras7 h1{
        font-size: 25px;    
    }
    .items7 tr:nth-child(1){
        font-size: 25px;
    }
    .items7 tr:nth-child(1) td a:hover{
        transition: all 1s;
        font-size: 25px;
        color: var(--gray);
        background: var(--yellow);
        border-radius: 10px;
        font-weight: 700;
    }
    tr:nth-child(2), tr:nth-child(3), tr:nth-child(4), tr:nth-child(5), tr:nth-child(6){
        font-size: 15px;
    }
    tr:nth-child(2) td a:hover, tr:nth-child(3) td a:hover, tr:nth-child(4) td a:hover, tr:nth-child(5) td a:hover, tr:nth-child(6) td a:hover{
        transition: all 1s;
        font-size: 20px;
        color: var(--gray);
        background: var(--yellow);
        border-radius: 10px;
        font-weight: 600;
    } 
    .logos-redes img{
        margin-right: 10px;
    }
}
@media only screen and (max-width: 689px){
    .fondo-7{
        height: 500px;
    }
    .content-7{
        top: 40px;
        left: 10px;
        padding-right: 5px;
        padding-left: 10px;
    }
    .content-text7{
        padding-right: 40px;
        padding-left: 20px;
    }
    .parraf7 p{
        font-size: 10px;
        line-height: 20px;
    }
    .letras7 h1{
        font-size: 20px;    
    }
    .items7{
        padding: 0;
        height: 250px;
        width: 150px;
    }
    .items7 tr:nth-child(1){
        font-size: 20px;
    }
    .items7 tr:nth-child(1) td a:hover{
        transition: all 1s;
        font-size: 20px;
        color: var(--gray);
        background: var(--yellow);
        border-radius: 50px;
        font-weight: 700;
    }
    tr:nth-child(2), tr:nth-child(3), tr:nth-child(4), tr:nth-child(5), tr:nth-child(6){
        font-size: 10px;
    }
    tr:nth-child(2) td a:hover, tr:nth-child(3) td a:hover, tr:nth-child(4) td a:hover, tr:nth-child(5) td a:hover, tr:nth-child(6) td a:hover{
        transition: all 1s;
        font-size: 10px;
        color: var(--gray);
        background: var(--yellow);
        border-radius: 5px;
        font-weight: 600;
    } 
    .logos-redes img{
        margin-bottom: 100px;
        margin-right: 0px;
    } 
}
